<!doctype html>
<html>
	<head>
        <title>LIST</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/staff_background.css">
     </head>
		<body>
		    <div class="looks"></div>
			<header>
			    <div><img  src="/static/chandigarh-university-seal.png"></div>
				<div class="container">
        				<h1 class="titlebar col-xl-12">
        				    VIRTUAL QUEUE
        				</h1>
			    	<div class="container">
			            <div class="home">A Better Way To Pay Your Fees</div>
		            </div>
		  	</header>
        			    <div class="container-fluid">
        			            <main role="main" class="col-lg-12">
            			         <h2 class="section">Today's List</h2>
                        </div>
                </div>
                <div class="container-fluid col-lg-12 col-sm-12 col-xs-12">
                    <div class="list">
			            <table class="table table-striped col-lg-12 col-sm-2 col-xs-2 ">
                            <thead>
    			                <tr>
    			                  <th>Sr.No</th>
    			                  <th>Queue No.</th>
    			                  <th>Name</th>
    			                  <th>UID</th>
    			                  <th>Token Number</th>
    			                  <th>Given Time</th>
    			                  <th></th>
    			                  <th></th>
    			                  <th></th>
    			                </tr>
    			              </thead>
        {% for i in get_it %}
        {% csrf_token %}

        			          <tbody>
    			                <tr>
    			                  <td>{{i.pk}}</td>
    			                  <td>{{i.lineno}}</td>
    			                  <td>{{i.name}}</td>
    			                  <td>{{i.uid}}</td>
    			                  <td>{{i.token}}</td>
    			                  <td>{{i.given_time}}</td>
                                  <td><div class="col">
                                  <input type="number" class="form-control" placeholder="Amount" style="width:110px">
                                  </div></td>
    			                  <td>
    			                      <div>
                                     <input type = "radio" name = "optionsRadios" id = "optionsRadios1" value = "option1"> Pay
                                     <input type = "radio" name = "optionsRadios" id = "optionsRadios2" value = "option1" checked> Refund
                                  </div>
                                  </td>
    			                </tr>
    			              </tbody>
  <!--  {{ i.lineno }}.
    &ensp;
    {{ i.name }}
    &ensp;
    &emsp;
    {{ i.time }}
    &ensp;
    &ensp;
    {{ i.given_time }}
    &ensp;
    &ensp;
    <br/>-->
{% endfor %}
                  </table>
                </div>
            </div>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>