.looks{
    background-image: url(/static/background.jpg);
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-size: cover;-webkit-filter: blur(5px);-moz-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);

}
.titlebar{
    text-align: center;
    font-size: 48px;
    font-family: TimesNewRoman;
    font-weight: bold;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.home{
    background: red;
    color: white;
    text-align: center;
    font-family: TimesNewRoman;
    font-weight: bold;
}
.second_title
{
   padding-left:30%;
    padding-right:30%;
}
.shake-rotate
{
 padding-left:25%;
 padding-right:25%;
}
.Name{
    font-family:"Lucida Console", Monaco, monospace;
    padding-top:5px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.UID{
    font-family: "Lucida Console", Monaco, monospace;
    padding-top:5px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.MobileNumber{
    font-family:  "Lucida Console", Monaco, monospace;
    padding-top:5px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.Email{
    font-family:"Lucida Console", Monaco, monospace;
    padding-top:5px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.form-group
{
    padding-left:30%;
    padding-right:30%;
}
button
{
    position: auto;
    background: #206bff;
    box-shadow: 0  5px 5px rgba(0,0,.2);
    transition: .5 s;
    border:4px solid #206bff;
    text-transform: uppercase;
    font-family:TimesNewRoman;
    font-size: 20px;
    letter-spacing:1px;
    color :#fff;
    font-weight: bold;
    height:100%;
    width:50%%;
    border-radius:10px;
    text-transform:uppercase;
    text-decoration:none;
    top:50%;
    left:50%;
    opacity:1;
}
.btn
{
    padding-right:30%;
    padding-left:32%;

}
.fbtn{
    padding-right:30%;
    padding-left:30%;
    height:35px;
    margin-top:0px;
}

.modal {
    display: none;
    position: auto;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
 display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 16px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 16px 16px;}
}

.card-profile {
  width: 340px;
  margin: 50px auto;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);}

  .card-img-top {
    border-radius: 0;
  }

  .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -65px;

    border: 5px solid $card-bg;
  }

  .card-title {


    small {
      display: block;
      font-size: .6em;
      margin-top: .2em;
    }
  }
.card-links{
    font-size:25px;
    letter-spacing:10px;
}
a:hover{
    color:yellow;

}
u:hover{
    color:yellow;
    cursor:pointer;
}